VBN-modeling/
data/
archive/
#dataset/
#dataset_exp/
dataset**/
dataset_archive/
dataset_tmp/
archive/model_data/
slides/
wandb/
archive/an_data/
.idea/*
*.pyc
*.pth
.DS_Store
*.ckpt
*.csv
lightning-test/
jplorenz-university-of-michigan/
traj_WALR_train-test/
traj_WALR-test/
traj_NALO-test/
traj_WALO-test/